USE [master]
GO
/****** Object:  Database [DB_QuanLyNhanVien]    Script Date: 6/9/2022 5:55:12 PM ******/
CREATE DATABASE [DB_QuanLyNhanVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QuanLyNhanVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_QuanLyNhanVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_QuanLyNhanVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_QuanLyNhanVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QuanLyNhanVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QuanLyNhanVien]
GO
/****** Object:  Table [dbo].[tAccount]    Script Date: 6/9/2022 5:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAccount](
	[Id_Account] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Type] [nvarchar](50) NULL,
	[Account_Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tRoom]    Script Date: 6/9/2022 5:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRoom](
	[Id_Room] [int] IDENTITY(1,1) NOT NULL,
	[Room_Name] [nvarchar](50) NULL,
	[Room_Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tStaff]    Script Date: 6/9/2022 5:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStaff](
	[Id_Staff] [int] IDENTITY(1,1) NOT NULL,
	[Staff_Name] [nvarchar](50) NULL,
	[Phone] [varchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [nvarchar](10) NULL,
	[Id_Account] [int] NULL,
	[Id_Room] [int] NULL,
	[Staff_Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tStaff]  WITH CHECK ADD  CONSTRAINT [FK_tStaff_tAccount] FOREIGN KEY([Id_Account])
REFERENCES [dbo].[tAccount] ([Id_Account])
GO
ALTER TABLE [dbo].[tStaff] CHECK CONSTRAINT [FK_tStaff_tAccount]
GO
ALTER TABLE [dbo].[tStaff]  WITH CHECK ADD  CONSTRAINT [FK_tStaff_tRoom] FOREIGN KEY([Id_Room])
REFERENCES [dbo].[tRoom] ([Id_Room])
GO
ALTER TABLE [dbo].[tStaff] CHECK CONSTRAINT [FK_tStaff_tRoom]
GO
USE [master]
GO
